<html>
    <head>

    </head>
    <body>

        <h1> <%= title %>  </h1>

            <%for(let i=0; i<result.length; i++){%>
            <h4> Id: <%=result[i].id%> </h4>
            <h4> Name: <%=result[i].name%> </h4>
            <h4> Created At: <%=result[i].createdAt%> </h4>

            <%}%>
        </h2>
    </body>
</html>



