<html>
    <head> Employee Information</head>
    <body>
        <h1> <%=title%>
        </h1>
        <% for (i=0;i<emp.length;i++){%>
            <%=emp[i].EmpId%>  
            <%=emp[i].Name%> 
            <%=emp[i].Age%> 
            <br>

        <%}%>
        <h2> EMPLOYEE INFO</h2>
        <h3>  </h3>
    </body>
</html>