<html>
    <head> Product Asked Information</head>
    <body>
            <h1> <%=title%>
            </h1>
            <% for (i=0;i<x.length;i++){%>
                <%=x[i].ProjectId%>  
                <%=x[i].ProjectName%> 
                <%=x[i].TechnologiesUsed%> 
                <br>
    
            <%}%>
            <h2> Product Asked Info End </h2>
            <h3>  </h3>
    </body>
</html>