<html>
    <head> Product Information</head>
    <body>
        <h1> <%=title%>
        </h1>
        
        <% for (i=0;i<dd.length;i++){%>
            <%=dd[i].ProjectId%>  
            <%=dd[i].ProjectName%>
            <%=dd[i].TechnologiesUsed%> 

            <br>
        <%}%>
        
        <h3> Product Info ends  </h3>
    </body>
</html>