<html>
    <head> Employee Asked Information</head>
    <body>
            <h1> <%=title%>
            </h1>
            <% for (i=0;i<x.length;i++){%>
                <%=x[i].EmpId%>  
                <%=x[i].Name%> 
                <%=x[i].Age%> 
                <br>
    
            <%}%>
            <h5> <a href = "/employee/getemployeefulldetail"> View full detail </a> </h5>
    </body> 
</html>

